/* body {
      font-family: Arial, sans-serif;
      display: flex;
      justify-content: center;
      align-items: center;
      height: 100vh;
      margin: 0;
} */
#icon {
      margin-left: 5px;
}

#temp {
      font-size: 4rem;
}

#temp-unit {
      font-size: 2rem;
}

#text {
      margin-left: 30px;
      text-decoration: underline;
      font-size: 1.3rem;
      text-align: center;
      font-weight: 600;
}

#feels-like {
      margin-top: 3px;
      color: #554c4c;
      font-size: 0.9rem;
}

.padd {
      padding: 65px;
}

.lf-padd {
      padding: 0px 20px 0px 20px;
}

@import url('https://fonts.googleapis.com/css2?family=Abril+Fatface&family=Alumni+Sans+Collegiate+One:ital@1&family=Lilita+One&family=Merriweather:ital,wght@1,700&family=Pixelify+Sans&family=Reem+Kufi+Fun&family=Young+Serif&display=swap');

.head {
      font-family: 'Young+Serif&display=swap';
}

.main {
      flex: flex;
      text-align: center;
      justify-content: center;
      min-height: 100vh;
      background: url(accets/bg\ cloud.jpg);
      background-position: center;
      background-size: cover;
}


.weather-container {
      text-align: center;
}


.search-box i {
      margin-top: 10px;
      font-size: 28px;
      color: rgb(49, 50, 52);
      cursor: pointer;
      margin-left: 10px;
}

.search-box input {
      border: 2px solid rgba(155, 139, 139, 0.654);
      padding: 0 48px 0 42px;
      text-transform: capitalize;
      font-weight: 500;
      color: aliceblue;

}

.search-box input::placeholder {
      color: aliceblue;
      text-transform: capitalize;
}

.search-box button {
      position: absolute;
      right: 0;
      width: 40px;
      height: 100%;
      background: transparent;
      border: none;
      outline: none;
      font-size: 28px;
      color: aliceblue;
      cursor: pointer;
      padding: 0 40px 0 5px;
}


#weather-deatail {
      margin: 0 auto;
      justify-content: center;
}

.weathercontainer {
      margin-top: 10%;
      padding: 20px 0px;
      border-radius: 10px; 
      backdrop-filter: blur(60px);
      border: 3px solid rgba(43, 51, 175, 0.601);
      box-shadow: 10px 10px 5px 10px #518bff;
}

.weather-box img {
      text-align: center;
      width: 30%;


}

.waether-deatali .homudity,
.waether-deatali .wind {
      display: flex;
      align-items: center;
      width: 50%;

}

.waether-deatali i {
      font-size: 50px;
      margin-right: 10px;
}


.data{
      margin-top: 10%;
      font-size: 30px;
      font-weight: 600;
      font-family: sans-serif;
      color: crimson;
}



.footer {
      padding: 70px 0;
      display: flex;
      justify-content: space-evenly;
      background-color: rgba(13, 52, 179, 0.849);
}



.main-footer h1 {
      font-size: 22px;
      line-height: 117%;
      color: #ffffff;
      margin-bottom: 10px;
      font-weight: 500;
}

.main-footer h2 {
      color: #ffffff;
      font-weight: 500;
}

.main-footer ul li a {
      color: #ffffffcc;
      text-decoration: none;
}

footer {
      background-color: #073ba4af;
      border-top: 1px solid #0c21c4;
      font-size: 17px;
      padding: 15px 5px;
      color: #4997ea;
      text-align: center;
}

footer a {
      text-decoration: none;
      color: #ffffff;
}

.logoinfo p {
      color: #649ceb;
      font-size: 25px;
      font-weight: 800;
      font-family: 'Libre+Baskerville';
      margin-top: 5px;
}

.contact-details {
      margin-top: 20px;
}

.contact-details li {
      list-style: none;
      margin: 10px 0;
}

.contact-details li a {
      text-decoration: none;
      color: #f1f1f1;
}

.contact-details .fa {
      color: #f1f1f1;
      margin-right: 10px;
}

.sociallogos {
      padding: 20px 0;
}

.sociallogos .logobox a {
      padding: 0 10px;
      text-decoration: none;
      color: #ffffff;
      font-size: 22px;
}

.com ul li {
      padding: 5px 0;
}
